.about-page {
  text-align: center;
  margin-top: 60px;
}

.bio-image {
  border-radius: 4px;
  border-color: transparent;
}

.bio-text {
}

.bio-text-container {
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 520px) {
  #about {
    font-size: 80%;
  }
  .bio-image {
    width: 95%;
  }
  .bio-text {
    width: 100%;
  }
  .bio-text-container {
    width: 90%;
  }
}

@media screen and (max-width: 880px) {
  .bio-image {
    width: 95%;
  }
  .bio-text {
    width: 100%;
  }
  .bio-text-container {
    width: 90%;
  }
}
