.landing-title-component {
  padding-top: 25px;
  width: 100%;
  font-size: 64px;
  text-align: center;
  letter-spacing: 1px;
  font-family: Didot, serif;
  margin-bottom: 0;
}
.landing-title-component2 {
  width: 100%;
  font-size: 64px;
  text-align: center;
  letter-spacing: 1px;
  font-family: Didot, serif;
  margin-top: 0;
  margin-bottom: 44px;
}

/* animation code

.landing-title-component2 {
  width: 100%;
  font-size: 64px;
  text-align: center;
  letter-spacing: 1px;
  font-family: Didot, serif;
  margin-top: 0;
  margin-bottom: 44px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 2s steps(25, end) forwards,
    blink-caret 0.75s step-end infinite; 
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%; 
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
} */

.landing-subtitle-component {
  width: 50%;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  font-family: Didot, serif;
  margin-top: 0;
  margin: auto;
}

#landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.landing-title-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.landing-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  max-width: 80%;
}

@media (min-width: 992px) {
  .landing-title-container {
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
}

@media screen and (max-width: 880px) {
  .landing-title-container {
    flex-direction: column;
    gap: 40px;
  }
  .landing-page {
    margin-bottom: 300px;
  }
}

@media screen and (max-width: 520px) {
  .landing-title-container {
    flex-direction: column;
    gap: 40px;
    padding-top: 10vh;
    padding-bottom: 25vh;
  }
  .landing-page {
    margin-bottom: 300px;
  }
  .landing-title-component {
    font-size: 25px;
    width: 100%;
  }
  .landing-title-component2 {
    font-size: 25px;
    margin-bottom: 20px;
    width: 100%;
  }
  .landing-subtitle-component {
    width: 80%;
    font-size: 14px;
  }
}
