.nav-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 120px;
}

.nav-titles {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: VogueAvantGarde, helvetica, sans-serif;
  font-size: 15px;
  font-style: light;
  font-stretch: extra-expanded;
  letter-spacing: 1px;
}

.nav-titles li {
  display: inline;
  margin-left: 30px;
  margin: 0 30px;
}

.resume-link {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

@media screen and (max-width: 880px) {
  .nav-titles {
    font-size: 100%;
  }
  .wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 520px) {
  .nav-titles {
    width: 80%;
    font-size: 50%;
    padding-right: 5%;
  }
  .wrapper {
    width: 30%;
  }
}
