.skills-container {
  text-align: center;
}

.skills-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  height: 400px;
}

.skills-icons {
  width: 100px;
}

.skills-icon-background {
  background-color: #eeeae3;
}

.skills-icons1,
.skills-icons2,
.skills-icons3,
.skills-icons4,
.skills-icons5 {
  padding-top: 75px;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}
