.skills-container {
  text-align: center;
}

.skills-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.skills-icons {
  height: 400px;
  width: 200px;
}
