body {
  margin: 0;
  font-family: VogueAvantGarde, helvetica, sans-serif;
}

code {
  font-family: VogueAvantGarde, helvetica, sans-serif;
}

@font-face {
  font-family: "adobe-garamond-pro";
  src: url("https://use.typekit.net/whh7phj.css");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
